{% extends 'base.html' %}

{% block title %} 
 Dresses page
{% endblock %}
         

{% block content %}

<div class="container">
  <h2 id="font2">Dresses</h2>
  <p id="font2">Dress like it's the best day of your life.</p>
  <div class="row" id="font3">
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd1.webp')}}" alt="Dress" width="400" height="500">
      <h6>Ariele Cotton Sweater Dress</h6>
      <p>€ 75</p>
      <button>Add to Cart</button>

    </div>
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd2.webp')}}" alt="Top" width="400" height="500">
      <h6>Juliette Dress</h6>
      <p>€ 60</p>
      <button>Add to Cart</button>
    </div>
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd3.webp')}}" alt="Shoes" width="400" height="500">
      <h6>Frasier Dress</h6>
      <p>€ 55</p>
      <button>Add to Cart</button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" id="font3">
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd4.webp')}}" alt="Dress" width="400" height="500">
      <h6>Inka Dress</h6>
      <p>€ 49</p>
      <button>Add to Cart</button>
      
    </div>
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd5.webp')}}" alt="Top" width="400" height="500">
      <h6>Belgium Linen Dress</h6>
      <p>€ 63</p>
      <button>Add to Cart</button>

    </div>
    <div class="col mb-5">
      <img src="{{url_for('static',filename = 'd6.webp')}}" alt="Shoes" width="400" height="500">
      <h6>Ariele Cotton Sweater Dress</h6>
      <p>€ 52</p>
      <button>Add to Cart</button>

    </div>
  </div>
</div>

  <script>
      document.addEventListener('DOMContentLoaded', function(){
        let cart_button = document.querySelector('.cart');
        cart_button.addEventListener('click', function(){
          location.href = "{{ url_for('bag')}}";
        });
      });

  </script>
{% endblock %}

    
       
    

