{% extends 'base.html' %}

{% block title %} 
  Home page
{% endblock %}
         

{% block content %}
<section id = "shop" style="color: white;">
    <h3>Spring/Summer 2022</h3>
    <p>See more of our collection</p>
    <button id="myButton" type="button" class="btn btn-light">Shop Now!</button>
</section>

<div class="container" id="font2">
    <h2 class="decoration">Summer Collection</h2>
    <p>You probably need something new.</p>
    <div class="row" id="description">
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 'dress.webp')}}"  alt="Dress" width="400" height="500">
        <a href="{{ url_for('dress')}}" class="text-dark">Dresses</a>

      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 'top.jpeg')}}" alt="Top" width="400" height="500">
        <a href="{{ url_for('top')}}" class="text-dark">Tops</a>
        
      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 'shoes.jpeg')}}" alt="Shoes" width="400" height="500">
        <a href="{{ url_for('shoes')}}" class="text-dark">Shoes</a>
        
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function(){
      let button = document.querySelector('#myButton');
      button.addEventListener('click', function(){
        location.href = "{{ url_for('shop')}}";

      });
    });
  </script>

{% endblock %}
