{% extends 'base.html' %}

{% block title %} 
 Shoes page
{% endblock %}
         

{% block content %}

<div class="container">
    <h2 id="font2">Shoes</h2>
    <p id="font2">The Most Comfortable Shoes That Will Have Your Feet Thanking You</p>
    <div class="row" id="font3">
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's1.webp')}}" alt="Dress" width="400" height="500">
        <h6>Eva Knotted Sandal</h6>
        <p>€ 25</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="17">
          <input type="submit" value="Add to Cart">
        </form>

      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's2.webp')}}" alt="Top" width="400" height="500">
        <h6>Agathea Chunky Loafer</h6>
        <p>€ 20</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="18">
          <input type="submit" value="Add to Cart">
        </form>
      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's3.webp')}}" alt="Shoes" width="400" height="500">
        <h6>Mia Platform Sandal</h6>
        <p>€ 27</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="19">
          <input type="submit" value="Add to Cart">
        </form>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row" id="font3">
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's4.webp')}}" alt="Dress" width="400" height="500">
        <h6>Abalonia Chunky Maryjane</h6>
        <p>€ 30</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="20">
          <input type="submit" value="Add to Cart">
        </form>
        
      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's5.webp')}}" alt="Top" width="400" height="500">
        <h6>Assunta Strappy Block Heel Mule</h6>
        <p>€ 26</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="21">
          <input type="submit" value="Add to Cart">
        </form>

      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 's6.webp')}}" alt="Shoes" width="400" height="500">
        <h6>Elsie Heeled Sandal</h6>
        <p>€ 28</p>
        <form action="/bag", method="post">
          <input name="id" type="hidden" value="22">
          <input type="submit" value="Add to Cart">
        </form>

      </div>
    </div>
  </div>

{% endblock %}

      