{% extends 'base.html' %}

{% block title %} 
  Shop page
{% endblock %}
         

{% block content %}

  <div class="container" id="font2">
      <h2>Shop</h2>
      <p>Just a collection of our collections for you.</p>
      <div class="row" id="description">
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'dress.webp')}}" alt="Dress" width="400" height="500">
          <a href="{{ url_for('dress')}}" class="text-dark">Dresses</a>
          
        </div>
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'top.jpeg')}}" alt="Top" width="400" height="500">
          <a href="{{ url_for('top')}}" class="text-dark">Tops</a>
          
        </div>
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'shoes.jpeg')}}" alt="Shoes" width="400" height="500">
          <a href="{{ url_for('shoes')}}" class="text-dark">Shoes</a>
          
        </div>
      </div>
    </div>


    <div class="container" id="font2">
      <div class="row" id="description">
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'skirt.webp')}}" alt="Dress" width="400" height="500">
          <a href="{{ url_for('skirt')}}" class="text-dark">Skirts</a>
          
        </div>
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'jeans.webp')}}" alt="Top" width="400" height="500">
          <a href="{{ url_for('jeans')}}" class="text-dark">Jeans</a>
          
        </div>
        <div class="col mb-5">
          <img src="{{url_for('static',filename = 'sweater.jpeg')}}"alt="Shoes" width="400" height="500">
          <a href="{{ url_for('sweater')}}" class="text-dark">Sweaters</a>
          
        </div>
      </div>
    </div>

{% endblock %}



        





 

