
{% extends 'base.html' %}

{% block title %} 
 Signin page
{% endblock %}

{% block content %}

<title>My Application</title>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% block body %}{% endblock %}

<div id="container1">
    <div class="box">

    <form id="font" onsubmit="return checkForm(this);" action="{{ url_for('signin') }}" method="post">
        <div class="form-group">
            <h5 id="cntr">Welcome home</h5> 
            <h5 id="cntr">Please sign in.</h5>
        
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email*">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password*">
        </div>
        <div class="form-check">
        </div>
        <button type="submit" class="btn btn-dark" id="signin_button">Login</button>
        <a href="{{ url_for('signup')}}"><p style="text-align:center">Need an account?</p></a>

      
      </form>  

    </div>

</div>

{% endblock %}
