{% extends 'base.html' %}

{% block title %} 
 Signup page
{% endblock %}

{% block content %}

<div id="container1">
    <div class="box">
    
    <form id="font" onsubmit="return checkForm(this);" action="{{ url_for('signup') }}" method="post">
        <div class="form-group">
            <h5 id="cntr">It seems like you're new here.</h5> 
            <h5 id="cntr">Please create an account.</h5>
        
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email*" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password*">
          <small id="emailHelp" class="form-text text-muted">7 characters minimum.</small>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input name="confirmation" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password*">
          </div>

        <div class="form-check">
        </div>
        <button type="submit" class="btn btn-dark" id="signup_button">Sign up for free</button>
        <a href="{{ url_for('signin')}}"><p style="text-align:center">Already have an account?</p></a>
        <small id="emailHelp" class="form-text text-muted"> By signing up for an account you accept our Terms and Policy.</small>
      </form>  

    </div>

</div>

<script type="text/javascript">

  function checkForm(form)
  {
    if(form.password.value != "" && form.password.value == form.confirmation.value) {
      if(form.password.value.length < 7) {
        alert("Error: Password must contain at least seven characters!");
        form.password.focus();
        return false;
      }
      if(form.password.value == form.email.value) {
        alert("Error: Password must be different from Email!");
        form.password.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.password.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.password.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.password.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.password.focus();
      return false;
    }

    alert("You entered a valid password: " + form.password.value);
    return true;
  }

</script>

  
{% endblock %}

  
  
