{% extends 'base.html' %}

{% block title %} 
  Top page
{% endblock %}
         

{% block content %}

<div class="container">
    <h2 id="font2">Tops</h2>
    <p id="font2">Elegant and fancy Tops.</p>
    <div class="row" id="font3">
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't1.jpeg')}}" alt="Dress" width="400" height="500">
        <h6>Joi Top</h6>
        <p>€ 35</p>
        <button>Add to Cart</button>

      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't2.jpeg')}}" alt="Top" width="400" height="500">
        <h6>Tai Denim Top</h6>
        <p>€ 30</p>
        <button>Add to Cart</button>
      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't3.webp')}}" alt="Shoes" width="400" height="500">
        <h6>Amabel Top</h6>
        <p>€ 27</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="row" id="font3">
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't4.webp')}}" alt="Dress" width="400" height="500">
        <h6>January Linen Top</h6>
        <p>€ 32</p>
        <button>Add to Cart</button>
        
      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't5.webp')}}" alt="Top" width="400" height="500">
        <h6>Blanca Top</h6>
        <p>€ 30</p>
        <button>Add to Cart</button>

      </div>
      <div class="col mb-5">
        <img src="{{url_for('static',filename = 't6.webp')}}" alt="Shoes" width="400" height="500">
        <h6>Will Oversized Shirt</h6>
        <p>€ 26</p>
        <button>Add to Cart</button>

      </div>
    </div>
  </div>

{% endblock %}    